<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhcc.mapper.DidExamsMapper">
	<resultMap id="BaseResultMap" type="com.dhcc.pojo.DidExams">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="username" property="username"
			jdbcType="VARCHAR" />
		<result column="testid" property="testid" jdbcType="VARCHAR" />
		<result column="choose" property="choose" jdbcType="VARCHAR" />
		<result column="flag" property="flag" jdbcType="VARCHAR" />
		<result column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="testTime" property="testTime"
			jdbcType="VARCHAR" />
		<association property="exam"
			javaType="com.dhcc.pojo.Examination">
			<id column="testid" property="examination_genre" />
			<result column="examination_number"
				property="examinationNumber" jdbcType="VARCHAR" />
			<result column="examination_genre" property="examinationGenre"
				jdbcType="VARCHAR" />
			<result column="examination_title" property="examinationTitle"
				jdbcType="VARCHAR" />
			<result column="examination_right" property="examinationRight"
				jdbcType="VARCHAR" />
			<result column="examination_wrong1"
				property="examinationWrong1" jdbcType="VARCHAR" />
			<result column="examination_wrong2"
				property="examinationWrong2" jdbcType="VARCHAR" />
			<result column="examination_wrong3"
				property="examinationWrong3" jdbcType="VARCHAR" />
		</association>
	</resultMap>

	<insert id="insertDidExams"
		parameterType="com.dhcc.pojo.DidExams">

		insert into didexams
		(username,testid,choose,flag,uuid,testTime)
		values(#{username,jdbcType=VARCHAR},
		#{testid,jdbcType=VARCHAR},
		#{choose,jdbcType=VARCHAR},
		#{flag,jdbcType=VARCHAR},
		#{uuid,jdbcType=VARCHAR},
		#{testTime,jdbcType=VARCHAR})

	</insert>


</mapper>