<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhcc.mapper.ExaminationMapper">
	<resultMap id="BaseResultMap"
		type="com.dhcc.pojo.Examination">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="examination_number"
			property="examinationNumber" jdbcType="VARCHAR" />
		<result column="examination_genre" property="examinationGenre"
			jdbcType="VARCHAR" />
		<result column="examination_title" property="examinationTitle"
			jdbcType="VARCHAR" />
		<result column="examination_right" property="examinationRight"
			jdbcType="VARCHAR" />
		<result column="examination_wrong1"
			property="examinationWrong1" jdbcType="VARCHAR" />
		<result column="examination_wrong2"
			property="examinationWrong2" jdbcType="VARCHAR" />
		<result column="examination_wrong3"
			property="examinationWrong3" jdbcType="VARCHAR" />

		<association property="examType"
			javaType="com.dhcc.pojo.ExaminationType">
			<id column="type_Number" property="examination_genre" />
			<result column="type_Name" property="typeName" />
		</association>

		<association property="testType"
			javaType="com.dhcc.pojo.TestType">
			<id column="test_id" property="examination_type" />
			<result column="type_testname" property="type_testname" />
		</association>
	</resultMap>

	<resultMap id="testType" type="com.dhcc.pojo.ExaminationType">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="type_Number" property="typeNumber"
			jdbcType="VARCHAR" />
		<result column="type_Name" property="typeName"
			jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="type" type="com.dhcc.pojo.TestType">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="type_id" property="type_id" jdbcType="VARCHAR" />
		<result column="type_testname" property="type_testname"
			jdbcType="VARCHAR" />
	</resultMap>

	<resultMap type="com.dhcc.pojo.Exams" id="exams">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="examTitle" property="examTitle"
			jdbcType="VARCHAR" />
		<result column="examMsg" property="examMsg" jdbcType="VARCHAR" />
		<result column="examPermission" property="examPermission"
			jdbcType="VARCHAR" />
		<result column="examDate" property="examDate"
			jdbcType="VARCHAR" />
		<result column="uuid" property="uuid" jdbcType="VARCHAR" />
		<association property="uuid"
			javaType="com.dhcc.pojo.Matter">
			<result column="type" property="type" jdbcType="VARCHAR" />
			<result column="number" property="number" jdbcType="INTEGER" />
			<result column="fraction" property="fraction"
				jdbcType="INTEGER" />
			<result column="people" property="people" jdbcType="VARCHAR" />
		</association>
	</resultMap>

	<resultMap id="matters" type="com.dhcc.pojo.Matter">
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="number" property="number" jdbcType="INTEGER" />
		<result column="fraction" property="fraction"
			jdbcType="INTEGER" />
	</resultMap>

	<resultMap type="com.dhcc.pojo.ExamTem" id="examTem">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="exam_tem_title" property="exam_tem_title"
			jdbcType="VARCHAR" />
		<result column="exam_tem_easys" property="exam_tem_easys"
			jdbcType="VARCHAR" />
		<result column="exam_tem_date" property="exam_tem_date"
			jdbcType="VARCHAR" />
		<result column="exam_tem_man" property="exam_tem_man"
			jdbcType="VARCHAR" />
		<result column="exam_tem_time" property="exam_tem_time"
			jdbcType="VARCHAR" />
		<result column="exam_tem_detail" property="exam_tem_detail"
			jdbcType="VARCHAR" />
		<collection property="examType"
			ofType="com.dhcc.pojo.ExamType">
			<result column="exam_name" property="exam_name"
				jdbcType="VARCHAR" />
		</collection>
		<collection property="examSubs"
			ofType="com.dhcc.pojo.ExamSub">
			<id column="sid" property="id" jdbcType="INTEGER" />
			<result column="exam_kind" property="exam_kind"
				jdbcType="VARCHAR" />
			<result column="exam_type" property="exam_type"
				jdbcType="VARCHAR" />
			<result column="exam_easy" property="exam_easy"
				jdbcType="VARCHAR" />
			<result column="exam_count" property="exam_count"
				jdbcType="INTEGER" />
			<result column="exam_score" property="exam_score"
				jdbcType="VARCHAR" />
			<result column="exam_tem" property="exam_tem"
				jdbcType="INTEGER" />
			<collection property="examType"
				ofType="com.dhcc.pojo.ExaminationType">
				<id column="eid" property="id" jdbcType="INTEGER" />
				<result column="type_Name" property="typeName" />
				<result column="type_Number" property="typeNumber" />
			</collection>
		</collection>
	</resultMap>

	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, examination_number, examination_genre,
		examination_title,
		examination_right,
		examination_wrong1,
		examination_wrong2, examination_wrong3
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.dhcc.pojo.ExaminationExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from examination
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from examination
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from examination
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.dhcc.pojo.ExaminationExample">
		delete from examination
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.dhcc.pojo.Examination">
		insert into examination (id,
		examination_number, examination_genre,
		examination_title,
		examination_right, examination_wrong1,
		examination_wrong2,
		examination_wrong3)
		values (#{id,jdbcType=INTEGER},
		#{examinationNumber,jdbcType=VARCHAR},
		#{examinationGenre,jdbcType=VARCHAR},
		#{examinationTitle,jdbcType=VARCHAR},
		#{examinationRight,jdbcType=VARCHAR},
		#{examinationWrong1,jdbcType=VARCHAR},
		#{examinationWrong2,jdbcType=VARCHAR},
		#{examinationWrong3,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.dhcc.pojo.Examination">
		insert into examination
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="examinationNumber != null">
				examination_number,
			</if>
			<if test="examinationGenre != null">
				examination_genre,
			</if>
			<if test="examinationTitle != null">
				examination_title,
			</if>
			<if test="examinationRight != null">
				examination_right,
			</if>
			<if test="examinationWrong1 != null">
				examination_wrong1,
			</if>
			<if test="examinationWrong2 != null">
				examination_wrong2,
			</if>
			<if test="examinationWrong3 != null">
				examination_wrong3,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="examinationNumber != null">
				#{examinationNumber,jdbcType=VARCHAR},
			</if>
			<if test="examinationGenre != null">
				#{examinationGenre,jdbcType=VARCHAR},
			</if>
			<if test="examinationTitle != null">
				#{examinationTitle,jdbcType=VARCHAR},
			</if>
			<if test="examinationRight != null">
				#{examinationRight,jdbcType=VARCHAR},
			</if>
			<if test="examinationWrong1 != null">
				#{examinationWrong1,jdbcType=VARCHAR},
			</if>
			<if test="examinationWrong2 != null">
				#{examinationWrong2,jdbcType=VARCHAR},
			</if>
			<if test="examinationWrong3 != null">
				#{examinationWrong3,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.dhcc.pojo.ExaminationExample"
		resultType="java.lang.Integer">
		select count(*) from examination
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update examination
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.examinationNumber != null">
				examination_number =
				#{record.examinationNumber,jdbcType=VARCHAR},
			</if>
			<if test="record.examinationGenre != null">
				examination_genre =
				#{record.examinationGenre,jdbcType=VARCHAR},
			</if>
			<if test="record.examinationTitle != null">
				examination_title =
				#{record.examinationTitle,jdbcType=VARCHAR},
			</if>
			<if test="record.examinationRight != null">
				examination_right =
				#{record.examinationRight,jdbcType=VARCHAR},
			</if>
			<if test="record.examinationWrong1 != null">
				examination_wrong1 =
				#{record.examinationWrong1,jdbcType=VARCHAR},
			</if>
			<if test="record.examinationWrong2 != null">
				examination_wrong2 =
				#{record.examinationWrong2,jdbcType=VARCHAR},
			</if>
			<if test="record.examinationWrong3 != null">
				examination_wrong3 =
				#{record.examinationWrong3,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update examination
		set id = #{record.id,jdbcType=INTEGER},
		examination_number = #{record.examinationNumber,jdbcType=VARCHAR},
		examination_genre = #{record.examinationGenre,jdbcType=VARCHAR},
		examination_title = #{record.examinationTitle,jdbcType=VARCHAR},
		examination_right = #{record.examinationRight,jdbcType=VARCHAR},
		examination_wrong1 = #{record.examinationWrong1,jdbcType=VARCHAR},
		examination_wrong2 = #{record.examinationWrong2,jdbcType=VARCHAR},
		examination_wrong3 = #{record.examinationWrong3,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.dhcc.pojo.Examination">
		update examination
		<set>
			<if test="examinationNumber != null">
				examination_number =
				#{examinationNumber,jdbcType=VARCHAR},
			</if>
			<if test="examinationGenre != null">
				examination_genre = #{examinationGenre,jdbcType=VARCHAR},
			</if>
			<if test="examinationTitle != null">
				examination_title = #{examinationTitle,jdbcType=VARCHAR},
			</if>
			<if test="examinationRight != null">
				examination_right = #{examinationRight,jdbcType=VARCHAR},
			</if>
			<if test="examinationWrong1 != null">
				examination_wrong1 =
				#{examinationWrong1,jdbcType=VARCHAR},
			</if>
			<if test="examinationWrong2 != null">
				examination_wrong2 =
				#{examinationWrong2,jdbcType=VARCHAR},
			</if>
			<if test="examinationWrong3 != null">
				examination_wrong3 =
				#{examinationWrong3,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.dhcc.pojo.Examination">
		update examination
		set examination_number =
		#{examinationNumber,jdbcType=VARCHAR},
		examination_genre =
		#{examinationGenre,jdbcType=VARCHAR},
		examination_title =
		#{examinationTitle,jdbcType=VARCHAR},
		examination_right =
		#{examinationRight,jdbcType=VARCHAR},
		examination_wrong1 =
		#{examinationWrong1,jdbcType=VARCHAR},
		examination_wrong2 =
		#{examinationWrong2,jdbcType=VARCHAR},
		examination_wrong3 =
		#{examinationWrong3,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectAllExams" resultMap="BaseResultMap">
		select
		examination.*,examination_type.type_Name,test_type.type_testname from
		examination
		left join
		examination_type on examination.examination_genre
		=
		examination_type.type_Number
		left join test_type on
		examination.examination_type =
		test_type.type_id
	</select>

	<select id="selectByTypeAndNumber" resultMap="BaseResultMap">
		select
		examination.*,examination_type.type_Name,test_type.type_testname from
		examination
		left join
		examination_type on examination.examination_genre
		=
		examination_type.type_Number
		left join test_type on
		examination.examination_type =
		test_type.type_id where
		examination_genre =
		#{testType} and examination_type
		= #{type}
		ORDER BY
		RAND()
		LIMIT
		#{testNumber}
	</select>

	<select id="selectRightByTestId"
		parameterType="java.lang.String" resultType="String">
		select examination_right
		from examination where
		examination_number = #{ans}
	</select>

	<select id="selectAllTestType" resultMap="testType">
		select * from
		examination_type
	</select>

	<select id="selectAllType" resultMap="type">
		select * from
		test_type
	</select>

	<select id="selectAllExamsByPer" resultMap="exams">
		SELECT e.*,q.*
		FROM
		exams as e LEFT JOIN question_type
		as q on e.uuid = q.uuid where
		examPermission+0 &lt;= #{per} GROUP BY q.people
	</select>

	<select id="selectMatters" resultType="com.dhcc.pojo.Matter">
		select
		type,number,fraction,people from
		question_type where uuid=(select uuid
		from
		exams where id = #{examid})
	</select>

	<select id="selectAllExamTems" resultMap="examTem">
		SELECT t.*,
		s.id as
		sid,s.exam_kind,s.exam_count,s.exam_easy,s.exam_type,s.exam_tem,s.exam_score,
		e.id
		as eid,e.type_Name,e.type_Number,p.exam_name
		FROM exam_tem
		as t LEFT
		JOIN exam_sub
		as s on t.exam_tem_detail =
		s.exam_tem LEFT
		JOIN
		examination_type as e
		on s.exam_kind =
		e.type_Number LEFT JOIN exam_type
		as p on t.exam_tem_type = p.id
	</select>

	<select id="selectAllExamTypes"
		resultType="com.dhcc.pojo.ExamType">
		select * from exam_type
	</select>

	<insert id="saveSub" parameterType="com.dhcc.pojo.ExamSub">
		insert into
		exam_sub(exam_kind,exam_type,exam_easy,exam_score,exam_count,exam_tem)
		values(#{exam_kind,jdbcType=VARCHAR},
		#{exam_type,jdbcType=VARCHAR},
		#{exam_easy,jdbcType=VARCHAR},
		#{exam_score,jdbcType=VARCHAR},
		#{exam_count,jdbcType=INTEGER},
		#{exam_tem,jdbcType=VARCHAR})
	</insert>

	<insert id="saveExam" parameterType="com.dhcc.pojo.Exams"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		exams(examTitle,examType,examPrivate,examDate,uuid,examStartDate,examVia,examEndDate,examCount,examEmpower,examTime,examFixed,examEasys)
		values(#{examTitle,jdbcType=VARCHAR},
		#{examType,jdbcType=VARCHAR},
		#{examPrivate,jdbcType=VARCHAR},
		#{examDate,jdbcType=VARCHAR},
		#{uuid,jdbcType=INTEGER},
		#{examStartDate,jdbcType=VARCHAR},
		#{examVia,jdbcType=VARCHAR},
		#{examEndDate,jdbcType=VARCHAR},
		#{examCount,jdbcType=VARCHAR},
		#{examEmpower,jdbcType=VARCHAR},
		#{examTime,jdbcType=VARCHAR},
		#{examFixed,jdbcType=VARCHAR},
		#{examEasys,jdbcType=VARCHAR})
	</insert>

	<insert id="saveEmpower" parameterType="com.dhcc.pojo.Empower" keyProperty="id" useGeneratedKeys="true">
		insert into empower
		(user) values(#{user,jdbcType=VARCHAR})
	</insert>
</mapper>