
/* 中间部分 */
.analysis-con{
	width: 100%;
	position: fixed;
	left: 0;
	top: 78px;
	height: calc(100% - 78px);
	display: flex;
	flex-wrap: wrap;
}
.analysis-left{
	width: 15%;
	height: 100%;
	background: #f2f2f2;
	color: #337ab7;

}
.analysis-right{
	width: 83%;
	position: relative;
	overflow: auto;
}

/* 左边部分 */
.analysis-left ul{
	display: none;
	font-size: 16px;
	border:1px solid #515E7B ;
	margin-top: -1px;
	margin-bottom: 0;
	padding-top: 10px;
}
.analysis-left ul>li{
	height: 35px;
	line-height: 35px;
	padding-left: 30px;
}
.analysis-left ul>li:hover{
	background: #f8f8f8;
	font-weight: 700;
	transition: all 0.5s;
	transform: translate3d(0,0 , 3px);
	border-left: 2px solid #337ab7;
	cursor: pointer;
}
.analysis-left p {
	height: 50px;
	line-height: 50px;
	margin-bottom: 0;
	font-size: 20px;
	padding-left: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, .7);
	background: #515E7B;
	color: white;
	cursor: pointer;
}
.analysis-left .current{
	display: block;
}



/* 右边表格 */
.analysis-right>table{
	/* width: 100%; */
	table-layout: fixed;
	box-shadow:  0 0 5px rgba(0, 0, 0, .3)
}
.analysis-right>table>thead{
	background: #f8f8f8;
}
.analysis-right   tr{
	height: 35px;
	border-top: 1px solid  rgba(0, 0, 0, .3);
}
.analysis-right td{
	width: 200px;
	text-align: center;
	
}
.analysis-right tbody>tr>td:nth-of-type(1){
	color: #337ab7;
	font-weight: 600;
	cursor: pointer;
}
.analysis-right tbody>tr>td:nth-of-type(1):hover{
	text-decoration: underline;
}