.ibox-tools{
	float: right;
	width: 250px;
}
.ibox-title{
	margin:10px 0;
}
.checkbox{
	margin:0px;
	height: 20px;
}

th{
	height:30px;
	text-align: center;
}
.table{
		width:1200px;
		text-align: center;
		table-layout: fixed;
	}

.table tr td{
	width: 20%;
	height:30px;
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}





textarea{
	height: 30px;
	width: 265px;
	max-width: 265px;
	min-width: 265px;
	margin: 0px,0px;
	padding: 0px;
}
.pagination>li>a, .pagination>li>span{
			height: 35px;
			width: 35px;
			padding:6px 3%;
			text-align: center;
		}
		
.div-table{
	width: 100%;
}
.iframe{
	border: 0px;
}
/* #save{
	display: none;
} */