<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<script src="../js/jquery-1.9.1.js"></script>
	<script src="../js/bootstrap.js"></script>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/listAllExa.css">
	
</head>
<body>
	<div >
	    <div class="tabs-container">
	        <ul class="nav nav-tabs">
	            <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> 单选题</a>
	            </li>
	            <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">多选题</a>
	            </li>
	             <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">判断题</a>
	            </li>
	             <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false">简答题</a>
	            </li>
	            </li>
	             <li class=""><a data-toggle="tab" href="#tab-5" aria-expanded="false">其他</a>
	            </li>
	        </ul>

	        <div class="tab-content">

	            <div id="tab-1" class="tab-pane active">
	                <div class="panel-body" style="height: 540px">
					 	 <iframe  src="singleChoice" width="100%" height="100%" class="iframe" scrolling="auto" marginheight="0px" marginwidth="0px"></iframe>
	                </div>
	            </div>

	            <div id="tab-2" class="tab-pane">
	                <div class="panel-body">
	                    <p>
	                    	暂无
	                    </p>
	                </div>
	            </div>
	            <div id="tab-3" class="tab-pane">
	                <div class="panel-body" style="height: 540px">
	                   <iframe  src="judge" width="100%" height="100%" class="iframe" scrolling="auto" marginheight="0px" marginwidth="0px"></iframe>
	                </div>
	            </div>
	            <div id="tab-4" class="tab-pane">
	                <div class="panel-body">
	                    <p>
	                    	暂无
	                    </p>
	                </div>
	            </div>
	            <div id="tab-5" class="tab-pane">
	                <div class="panel-body" style="height: 540px">
	                   <iframe  src="topicType" width="100%" height="100%" class="iframe" scrolling="auto" marginheight="0px" marginwidth="0px"></iframe>
	                </div>
	            </div>
	        </div>


	    </div>
	</div>
	
	
</body>
</html>